/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwaPGR_p.woff2)
      format("woff2");
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"),
    url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ.woff2)
      format("woff2");
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 21px;
  /* font-family: 'Times New Roman', Times, serif; */
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  width: 375px;
}
